@import '../../styles/colors.scss';

.back {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 100vh;
  background-color: $pale-gray;
  border-right: 1px solid $gray;
}
