@import "../../styles/colors";

.input {
  text-align: center;

  &__label {
    display: flex;
    justify-content: space-between;
    color: $dark-gray;
    font-size: 9px;
  }

  &__input {
    width: 100%;
    padding: 5px;
    border: 0;
    border-bottom: 1px solid $blue;
    outline: none;

    &_error {
      color: $red;
    }
  }

  &__error {
    margin-top: 7px;
    color: $red;
    font-size: 8px;
    text-align: left;

    &_hidden {
      display: none;
    }
  }
}
