@import '../../styles/colors.scss';

.input {
  &__input {
    border: 0;
    border-bottom: 1px solid $blue;
    padding: 5px;
    width: 100%;
    outline: none;
    &_error {
      color: $red;
    }
  }

  &__error {
    color: $red;
    font-size: 8px;
    text-align: left;
    margin-top: 7px;
    &_hidden {
      display: none;
    }
  }
}