@import "../../styles/colors";

.button {
  width: 100%;
  padding: 12px 0;
  color: $white;
  background-color: $blue;
  border: 0;
  border-radius: 8px;
  cursor: pointer;

  &_back,
  %button-back {
    width: 28px;
    height: 28px;
    background-image: url("../../../static/icons/back.svg");
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
  }

  &_forward {
    @extend %button-back;

    background-image: url("../../../static/icons/forward.svg");
  }
}
