@import '../../styles/colors.scss';

.form {
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 340px;
  border-radius: 6px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.14);
  &__header {
    font-size: 20px;
    margin: 0;
  }
  
  &__list {
    list-style-type: none;
    padding: 0;
    margin: 40px 0 0;
    width: 100%;
  }
  
  &__list-item {
    margin-bottom: 16px;
    text-align: center;
    &_button {
      margin-top: 47px;
      font-size: 13px;
    }
  }
  
  &__label {
    display: flex;
    justify-content: space-between;
    font-size: 9px;
    color: $dark-gray;
  }
  
  &__input {
    border: 0;
    border-bottom: 1px solid $blue;
    padding: 5px;
    width: 100%;
    outline: none;
    &_error {
      color: $red;
    }
  }

  &__error {
    color: $red;
    font-size: 8px;
    text-align: left;
    margin-top: 7px;
    &_hidden {
      display: none;
    }
  }
  
  &__link {
    color: $blue;
    font-size: 11px;
    text-decoration: none;
  }
}

