@import "../../styles/colors";

.chats__item {
  display: flex;
  padding: 12px 5px;
  border-top: 1px solid $gray;
  cursor: pointer;
  &:hover {
    background-color: rgba(#000000, 0.1);
  }
}

.chats__img-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 47px;
  min-width: 47px;
  height: 47px;
  margin-right: 10px;
  overflow: hidden;
  background-color: $light-gray;
  border-radius: 50%;
}

.chats__img {
  width: 100%;
}

.chats__item-name {
  margin: 0;
  padding-bottom: 4px;
  font-size: 13px;
}

.chats__item-text {
  max-height: 30px;
  margin: 0;
  overflow: hidden;
  color: $dark-gray;
  font-size: 12px;
}
