@import '../../styles/colors.scss';

.profile {
  margin: auto;
  font-size: 13px;
  &__content {
    display: flex;
    flex-direction: column;
    width: 510px;
  }

  &__fields {
    margin-bottom: 60px;
  }

  &__change-pass_hidden {
    display: none;
  }

  &__change-data_hidden {
    display: none;
  }

  &__links {
    
    &_hidden {
      display: none;
    }
  }

  &__link {
    border-bottom: 1px solid $gray;
    padding: 10px 0;
    &:last-child {
      border-bottom: 0;
    }
  }

  &__button {
    max-width: 280px;
    margin: 0 auto;
    &_hidden {
      display: none;
    }
  }
}
