@font-face {
  font-weight: normal;
  font-family: robotoregular;
  font-style: normal;
  src:
    url("../static/fonts/roboto-regular-webfont.woff2") format("woff2"),
    url("../static/fonts/roboto-regular-webfont.woff") format("woff");
}
