@import "../../styles/colors";

.input-error {
  margin-top: 7px;
  margin-bottom: 16px;
  color: $red;
  font-size: 8px;
  text-align: left;

  &_profile {
    margin-bottom: 0;
  }

  &_hidden {
    display: none;
  }
}
