<div class="chats">
  <section class="chats__chats-list">
    <div class="chats__link-wrap">
      {{>link textLink="Профиль >" classLink="chats__link" link="/profile"}}
    </div>
    <div class="chats__search">
      {{> search}}
    </div>
    
    {{#each items}}
    {{> chatsItem this}}
    {{/each}}
  </section>
  <section class="chats__chat">
    <header class="chats__chat-header">
      <div class="chats__person">
        <div class="chats__person-wrap">
          <img src="{{personImg}}" class="chats__person-img" />
        </div>
        <h3 class="chats__person-name">{{personName}}</h3>
      </div>
      

      <div class="chats__functions-button">
        <div class="chats__functions">
          <div class="chats__function">
            <p class="chats__function-text chats__function-text_add-user">Добавить пользователя</p>
          </div>
          <div class="chats__function">
            <p class="chats__function-text chats__function-text_del-user">Удалить пользователя</p>
          </div>
          <div class="chats__function">
            <p class="chats__function-text chats__function-text_del-chat">Удалить чат</p>
          </div>
        </div>
      </div>
    </header>
    <section class="chats__messages">
      <div class="chats__date-wrap">
        <span class="chats__date">{{date}}</span>
      </div>
      <div class="chats__companion chats__message">
        <p class="chats__message-text">
          
        </p>
      </div>
      <div class="chats__yourself chats__message">
        <p class="chats__message-text">
          
        </p>
      </div>
    </section>
    <footer class="chats__footer">
      <div class="chats__attach"></div>
      <div class="chats__writing"></div>
      <div class="chats__send-button">
        {{> button classMod="button_forward"}}
      </div>
    </footer>
  </section>
  
</div>