@import "../../styles/colors";

.search__input {
  width: 100%;
  padding: 10px 0;
  font-size: 12px;
  text-align: center;
  background: $gray;
  background-image: url("../../../static/icons/search.svg");
  background-repeat: no-repeat;
  background-position: calc(50% - 35px) center;
  border: 0;
  border-radius: 5px;
  outline: none;
  box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
}

.search__button {
  display: none;
}
