@import "../../styles/colors";

.user-menu {
  display: flex;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  cursor: pointer;
  position: relative;

  &:hover {
    background-color: $medium-gray;
  }

  &::before {
    position: relative;
    display: inline-block;
    font-size: 25px;
    content: '...';
    transform: rotate(90deg) translate(0, -12.5px);
  }

  &__functions {
    user-select: none;
    z-index: 100;
    border: 1px solid $gray;
    padding: 15px;
    border-radius: 12px;
    position: absolute;
    right: 0;
    top: 50px;
    min-width: 194px;
    background-color: $white;

    &_hidden {
      display: none;
    }
  }

  &__function {
    cursor: pointer;

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__function-text {
    background-repeat: no-repeat;
    padding-left: 30px;
    background-position: left center;
    min-height: 22px;
    line-height: 22px;
    margin: 0;
    text-align: left;
  }

  &__function-text_add-user {
    background-image: url('../../../static/icons/add.svg');
  }

  &__function-text_del-user {
    background-image: url('../../../static/icons/del-blue.svg');
  }

  &__function-text_del-chat {
    background-image: url('../../../static/icons/del-red.svg');
  }
}
